<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/dist/all.css" media="screen" title="no title">
  </head>
  <body ng-app="app">
    <main ng-controller="calcCtrl">
  		<calculator id="calculator">
  			<total-display id="total">
          {{totaldiv}}
  			</total-display>
        <div id="container">
    			<div id="numbers">
            <a ng-repeat="button in buttonsLeft" id="{{button.id}}" ng-click="click(button.value)">{{button.value}}</a>
    			</div>
          <div id="operators">
    				<a ng-repeat="operator in operators" id="{{operator.id}}" ng-click="storeOperator()">{{operator.value}}</a>
    			</div>
        </div>
  		</calculator>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
  </body>
</html>
